.fa-eye {
    color: green;
  }
  
  .fa-eye-slash {
    color: gray;
  }

 .pass-log {
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 2%;
 }

 .password-container {
    position: relative;
  }
  
  .password-container .icon-eye {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
  }



  @media (min-width: 768px) and (max-width: 992px ) {
    .pass-log {
        border: 1px solid grey;
        width: 90% !important;
        margin: 0 auto 2% auto;
        display: block;
        
    }

    .login-form > input {
        margin: 0 auto;
        border: 1px solid grey;
    }

    .login-form > label {
        position: relative;
        left: 6%;
    }

    #forget-pass > a {
        position: relative;
        right: 6%;
    }

    .icon-eye {
        right: 8% !important
    }
  }




