body {
    margin: 0;
    padding: 0;
}


/* NAVBAR */
.navbar-brand {
    margin-left: 100px;
}

.navbar-color {
    background-color: #764AF1;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-nav>a {
    color: whitesmoke !important;
    margin-right: 20px;
}

.navbar-nav button {
    border: none
}

.navbar-nav button:hover {
    background-color: rgb(214, 214, 214) !important;
}

/* LOGIN FORM*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 2;
    width: 25%;
    border-radius: 5%;
}

.login-logo {
    margin: 0 auto;
    display: block;
    width: 12rem;
}

.login-form {
    margin: 15% 5%;
}

.login-form > h5 {
    display: block;
    margin: 0 auto 7% auto;
}

.login-form > input {
    border: 1px solid grey;
}

.login-form > label {
    color: grey;
    margin-top: 5%;
}

/* .login-password {
    margin-bottom: 12%;
} */

.login-form {
    display: flex;
    flex-direction: column;
}

.login-btn {
    margin: 5% 5% auto 5%;
}

#forget-pass {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -10%;
    font-size: 0.8rem;
    font-weight: 500;
}

#forget-pass > a {
    text-decoration: none;
}

.dont-have-account {
    text-align: center;
    position: relative;
    top: -40px;
}

.dont-have-account > p > a {
    text-decoration: none;
}

.popup-card.hidden {
    display: none;
}

.close-icon {
    float: right;
    border: 2px solid red;
    padding: 2%;
    border-radius: 20%;
    cursor: pointer;
}




@media (max-width: 768px) {
    .navbar-brand {
        margin: 10px
    }

    .popup-card {
        width: 90%
    }

    .login-btn {
        margin: 0 auto;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .navbar-brand {
        margin: 10px
    }

    .popup-card {
        width: 50%
    }

    .login-btn {
        margin: 0 auto;
    }
}


@media (min-width: 2520px) {
    #forget-pass {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -5%;
        font-size: 0.8rem;
        font-weight: 500;
    }

  }
