.ctl-wrapper {
    z-index: 2 !important;
}

.kids-code-video iframe {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.btn-timeline {
    margin-left: 5%;
}

.link-to-description {
    text-decoration: none;
    color: white;
}

.link-to-description:hover {
    color: white;
}

.course-timeline-slide {
    margin-top: -2%;
}

.swiper-pagination-bullet {
    font-size: 26px;
    padding-top: 10px;
    font-weight: bold;
    color: #764AF1
}




/* PAGINATION SLIDER */
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: white;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 76% !important;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet-active {
    color: #FCA12A;
}

.swiper-pagination-bullet {
    opacity: 100% !important;
}




@media (max-width: 768px) {
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    top: 2%;
    bottom: 100% !important;
    left: 22% !important;
    width: 100%;
    margin-bottom: 12% !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
}

.back-to-courses {
    margin-bottom: 15% !important;
}

.swiper-pagination-bullet {
    font-size: 26px;
    padding-top: 0;
}

}

@media (min-width: 768px) and (max-width: 992px) {
    .swiper-pagination-bullet {
        font-size: 26px;
        padding-top: 0;
        margin-top: 4% !important;
    }
}