#email {
    margin-top: 5%;
}

.forget-wrapper {
    padding: 5% 25%;
    background-color: #7DB95C;
}

.forget-wrapper-2 {
    padding: 5% 20%;
    background-color: #A3CEA8;
    border-radius: 2%;
}

.forget-wrapper h4 {
    text-align: center;
}

.forget-btn {
    background-color: #764AF1;
    color: orange;
    display: block;
    margin: 2% auto;
}

.forget-btn:hover {
    background-color: #8f69f6;
    color: rgb(241, 183, 75)
}

.forget-key {
    display: block;
    margin: 3% auto
}



@media (max-width: 768px) {
    .forget-wrapper {
        padding: 10% 15%;
        background-color: #7DB95C;
    }

    .forget-wrapper-2 {
        width: 100%;
        padding: 15% 5%;
    }

    .forget-btn {
        margin: 0% auto;
    }
}