.courses-wrapper {
    background-color: #836CB1;
    padding-bottom: 7%  !important; 
}

.courses-heading-search {
    padding-top: 5%;
    display: flex;
    align-items: center;
    position: relative;
    left: 23%;
}

.courses-heading-search {
    padding-bottom: 4%;
}

.heading-courses h1 {
    color: #fff;
}

.heading-courses p {
    color: rgb(220, 219, 219);
    opacity: 0.9;
}

.search-container {
    position: relative;
}
  
  .search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: 1px solid grey;
    background-color: #CFB8FD;
    width: 500px;
    position: relative;
    left: 25%;
  }
  
  .search-container button {
    position: absolute;
    top: 8px;
    right: -23%;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .fa-search {
    font-size: 20px;
    color: #fff;
  }


.slickCourseWrapper {
    background-color: #836CB1;
}

.cs {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
}

.slickCourseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    justify-content: center;
} 

.card-img-course {
    border-radius: 15px;
}

.card-img-course:hover {
    border: 3px solid #FCA12A;
}

/* CARD OVERLAY TEXT */
.top-right {
    position: absolute;
    z-index: 1;
}

.card-course {
    margin-bottom: 1%;
}

.card-overlay {
    position: relative;
}

.caption {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #415DF7;
    opacity: 0.7;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    height: 30%;
}

.caption-text {
    color: rgb(220, 249, 3);
    font-size: 0.95rem;
    font-weight: bold;
}


/* HEART */
.heart-svg {
    position: relative;
    left: 165px;
    top: 12px !important;
}




@media (max-width: 800px) {
    .heading-courses {
        margin-top: 5%;
    }

    .search-container button {
        position: absolute;
        top: 8px;
        right: 31%;
    }

    .search-container input[type=text] {
        width: 70% !important;
        margin: 0 auto 12% auto !important;
        left: 0 !important;
    }

    .courses-heading-search {
        flex-direction: column;
        margin: 0 auto;
        display: block;
        margin-right: 15%;
    }

    .slickCourseWrapper {
        width: 70%;
        margin: 0 auto;
    }

    .courses-wrapper {
        padding-bottom: 17%  !important; 
    }

    .slick-prev:before, .slick-next:before {
        font-size: 30px !important;
        color:yellow;
    }

    .slick-prev:before {
        margin-right: 10%;
    }

    .card-course {
        margin-bottom: 5%;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .slickCourseWrapper {
        width: 70%;
        margin: 0 auto;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 30px !important;
        color:yellow;
    }

    .slick-prev:before {
        margin-right: 10%;
    }

    .card-course {
        margin-bottom: 5%;
    }

}



@media (min-width: 2520px) {
    .courses-heading-search {
        padding-top: 5%;
        display: flex;
        align-items: center;
        position: relative;
        left: 0;
        margin-right: 5%;
        justify-content: center;
    }

}